<% include /partials/header %>

<div class="myform">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="form-group">
            <input type="text" name="username" placeholder="username" class="form-control" />
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="password" class="form-control" />
        </div>
        <div class="form-group">
            <button class="btn btn-large btn-success btn-block">Submit</button>
        </div>
        <div class="form-group">
            <a href="/gems" class="btn btn-large btn-info btn-block">Back to Gems</a>
        </div>
    </form>
</div>